@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body { 
    background-image: url('../fundocontador.jpg') ;
    background-repeat: no-repeat ;
    background-attachment: fixed;
}

header {
    min-height: 150px;
    background-color: #2B6944;
    text-align: center;
}

header > h1 {
    margin-bottom: 20px; 
    padding-top: 55px;
    font-family: 'Calistoga', cursive;
    background-color:  #2B6944;
}

main {
    background-color: #738b7d;
    height: 80vh;
    width: 70vw;
    margin: auto;
    border-radius: 0px 0px 10px 10px;

}
p {
    color: white;
}


h1 {
    border: 100px;
    border-radius: 100px;
    
    text-align: center;
    border-color: rgb(255, 255, 255);

}


img {
    border-radius: 8px;
    max-width: 200px;
    max-height: 200px;
}

nav {
    background-color: #356347;
    padding: 10px;
}

nav > a {
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
}

nav > a:hover {
    background-color: #49a36d;

}
